@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nunito:600');
.header{
    text-align: center;
    color: #1ABC9C; 
    font-family: 'Nunito', sans-serif; 
}
.example-card {
    max-width: 400px;
  }
  
/* }  
  .card{
    color: #1ABC9C; 
  } */