 
  <div class="header">
    <h2 style="font-weight:bolder" >Trend Analysis</h2>
  </div> 
   
<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile><mat-card>
      <mat-card-title style="font-weight:bold;font-size: 12pt;color: #1ABC9C">Gender based information</mat-card-title> 
    <canvas id="PieChart" width="700px" height="300px"> </canvas> 
</mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <mat-card-title style="font-weight:bold;font-size: 12pt;color: #1ABC9C">Race based information</mat-card-title>
    <canvas id="barChart" width="700px" height="300px"> </canvas></mat-card> 
  </mat-grid-tile>
  <mat-grid-tile><mat-card>
      <mat-card-title style="font-weight:bold;font-size: 12pt;color: #1ABC9C">Occupation based information</mat-card-title>
    <canvas id="PolarAreaChart" width="700px" height="300px"> </canvas>
   </mat-card> </mat-grid-tile>
  <mat-grid-tile><mat-card >
      <mat-card-title style="font-weight:bold;font-size: 12pt;color: #1ABC9C">Age based information</mat-card-title>
    <canvas id="line-chart" width="700px" height="300px"></canvas>
  </mat-card></mat-grid-tile>
</mat-grid-list> 