@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nunito:600');
.header{
    text-align: center;
    color: #1ABC9C; 
    font-family: 'Nunito', sans-serif;
}  
.content{
    width: 50%;  
    display: grid; 
    grid-template-columns: 50fr 50fr; 
}
.body{
    height: 100%;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }