@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Nunito:600');
.header{
    text-align: center;
    color: #1ABC9C; 
    font-family: 'Nunito', sans-serif;
}  
table {
    width: 98.5%; 
    background: white; 
    margin:0.5em;
  }